@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monserrta", sans-serif;
}
body{
    background-color: #EBFAFC;
}
section{
    padding: 120px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 130px;
    padding-top: 5px;
    padding-bottom: 20px;
    z-index: 999;
    background-color: white;
    transition: 0.5s;
    max-width: 1550px;
}
.menu-btn{
    display: none;
}
header.active{
    padding-bottom: 5px;
    background-color: #DBEDF2;

}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}
nav .brand img{
    width: 100px;
    border-radius: 50%;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #003554;
    transition: 0.5s ease;
    font-weight: 600;
    font-size: 18px;
    margin: 0 17px;
}
nav ul li a.active{
    color: #3870F3;
}
nav ul li a:hover{
    color: #3870F3;
}
nav ul li .moon-theme{
    font-size: 30px;
    color: #003554;
    padding:  0 5px;
    margin-left: 20px;
}
nav ul li .shopping{
    font-size: 25px;
    color: #003554;
    background-color: white;
}
/* Basket  */

.basket{
    padding-top: 230px;
    padding-bottom: 100px;
    width: 100%;
    max-width: 1550px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DBEDF2;
}
.basket .basket-title{
    font-size: 60px;
    color: #003554;
    
}

/* Card  */
.basket-card{
    width: 80%;
    margin: auto;
    border-radius: 10px;
    padding: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.basket-card .basket-card-title{
    font-size: 35px;
    font-weight: 600;
    margin-top: 30px;
    color:#75868F;
}
.basket-card .card-link{
    font-size: 20px;
    padding: 12px 25px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #00ADCE;
    border-radius: 30px;
    margin-top: 30px;
    font-weight: 500;
    transition: 0.5s ease;
}
.basket-card .card-link:hover{
    background-color: #5dd1e8;
}
/* Footer  */

footer{
    background-color: #EBFAFC;
    margin-top: 40px;
    
}
.footer-container{
    padding: 30px 100px;
}
footer .footer-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.footer-nav .brand img{
    width: 100px;
    border-radius: 50%;
}
.footer-nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-nav ul .row{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.footer-nav ul li{
    display: contents;
}
.footer-nav ul li{
    list-style: none;
}
.footer-nav ul li a{
    text-decoration: none;
    color: #003554;
    transition: 0.5s ease;
    font-weight: 600;
    font-size: 18px;
    margin: 0 17px;
}
.footer-nav ul li a:hover{
    color: #3870F3;
}
footer .payme{
    width: 110px;
    float: right;
    margin-bottom: 10px;
}
footer .footer-links{
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
}
footer .links a{
    font-size: 20px;
    margin-right: 25px;
    color: #003554;
}
footer .copy p{
    font-size: 15px;
    color: #003554;
}
footer .copy a{
    text-decoration: none;
}
@media(max-width:576px){
    section{
        padding: 20px;
    }
    header{
        padding: 15px;
        padding-bottom: 20px;
        transition: 0.5s;
    }
    header.active{
        padding-bottom: 10px;
    }
    .navigation{
        display: none;
    }
    nav .brand img{
        width: 80px;
    }
    .menu-btn{
        display: block;
        width: 25px;
        height: 25px;
        background: url(../img/menu-btn.png) no-repeat;
        background-size: cover;
    }
    .menu-btn.active{
        z-index: 999;
        background-size: 25px;
        background-image: url(../img/close.png);
        margin-top: 20px;
        background-position: cover;
        transition: .4s ease;
    }
    .navigation.active{
        z-index: 888;
        position: fixed;
        background: white;
        top: 0;
        right: 0;
        width: 380px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 5px 25px rgba(1 1 1 /15%);
        transition: .4s ease;
    }
    .navigation li{
        margin-top: 15px;
    }
    .basket{
        padding-top: 180px;
        padding-bottom: 60px;
        height: 250px;
    }
    .basket .basket-title{
        font-size: 40px;
        color: #003554;
        
    }
    .basket-card{
        width:100%;
        padding: 20px;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }
    .basket-card .basket-card-title{
        font-size: 19px;
    }
    .basket-card .card-link{
        font-size: 17px;
        padding: 10px 20px;
        text-decoration: none;
        text-align: center;
        color: white;
        background-color: #00ADCE;
        border-radius: 30px;
        margin-top: 30px;
        font-weight: 500;
        transition: 0.5s ease;
    }
    footer{
        margin-top: 50px;
    }
    .footer-container{
        padding: 10px 20px;
    }
    .footer-nav ul li{
        display: contents;
    }
    .footer-nav ul li a{
        margin-bottom: 20px;

    }
    footer .footer-nav{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10px;
    }
    footer .navigation{
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0;
    }
    footer .brand{
        margin-bottom: 20px;
    }
    footer .navigation .row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 0px;
    }
    footer .payme{
        margin-right: 10px;
    }
    footer .footer-links{
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .copy p{
        margin-top: 20px;
        font-size: 12px;
    }
    /* Dark mode  */
    body.dark .navigation{
        background-color: #003554;
        color: white;
    }
    body.dark .about{
        background-color: #003554;
    }
    body.dark .about .col-left .title{
       color: white;
    }
    body.dark .about .col-left .text{
        color: white;
    }
    body.dark .menu-btn{
        display: block;
        width: 25px;
        height: 25px;
        background: url(../img/menu-btn-white.png) no-repeat;
        background-size: cover;
    }
    body.dark .menu-btn.active{
        width: 25px;
        height: 25px;
        /* z-index: 999; */
        background-size: cover;
        background: url(../img/close-white.png) no-repeat;
        margin-top: 20px;
        transition: .4s ease;
    }
}

/* Dark mode  */

body.dark{
    background-color:#3870F3;
}
body.dark header{
    background-color: #003554;
    -webkit-box-shadow: -1px 32px 28px -28px rgba(251, 253, 255, 0.18);
-moz-box-shadow: -1px 32px 28px -28px rgba(251, 253, 255, 0.18);
box-shadow: -1px 32px 28px -28px rgba(251, 253, 255, 0.18);
}
body.dark nav ul li a{
    color: white;
}
body.dark nav ul li a.active{
    color: #9b9ca0;
}
body.dark nav ul li .shopping{
    color: #ffffff;
    background-color: #003554;
}
body.dark nav ul li a:hover{
    color: #b0b2b6;
}
body.dark .navigation{
    background-color: #003554;
    color: white;
}
body.dark .basket{
    background-color:#003554;
    
}
body.dark .basket-title{
    color: white;
}
body.dark .basket-card{
    background-color: #084a70;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.2);
}
body.dark .basket-card .basket-card-title{
    color: white;
}
body.dark footer{
    background-color: #084a70;
    -webkit-box-shadow: 3px -8px 18px -6px rgba(255, 255, 255, 0.18);
-moz-box-shadow: 3px -8px 18px -6px rgba(255, 255, 255, 0.18);
box-shadow: 3px -8px 18px -6px rgba(255, 255, 255, 0.18);
}
body.dark footer .navigation{
    background: transparent;
}
body.dark .footer-nav ul li a{
    color: white;
}
body.dark footer .links a{
    color: white;
}
body.dark footer .copy p{
    color: white;
}